/* css styles */

/* Brendan Basic */

html {
    display: table;
    /* width: 100%; */
    /* margin: auto; */
}

main {
    padding: 4vw;
}

.navbar-title {
    font-weight: bolder;
    color: #000;
}

#quarto-content {
    /* margin: 2vw; */
    justify-self: center;
}

@media (min-width: 992px) {
    .navbar-container {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #quarto-content {
        margin: 2vw;
    }
}

/* img .img-fluid {
    justify-self: center;
    margin: auto;
} */

.description {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 12vh;
    font-size: medium;
}

.sidebar.margin-sidebar {
    margin-top: 8vh;
}

h1 {
    text-align: center;
    padding: 2vh;
}

.sidebar-navigation li a {
    text-decoration: none;
    color: #212529;
}


.sidebar-link.active {
    color: #00de64 !important;
}

.sidebar-link:hover {
    color: #20e0e0 !important;
}

.sidebar-item-container:hover {
    color: #00de64 !important;
}

#qwuarto-sidebar.sidebar.collapse-horizontal {
    padding-left: 0;
    margin-left: 0;
}

a {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #20e0e0;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}

/* a:visited {
    color: #1e496d;
    background-color: transparent;
    text-decoration: none;
} */


/* ############# */
/* MOBILE STYLES */
/* ############# */

.breadcrumb {
    display: none
}

/* button.navbar-toggler {
    background: #eee;
    border-radius: 10px;
    padding: 10px;
} */

.navbar-collapse.collapse.show {
    font-weight: bolder;
    padding: 10px;
}