/* css styles */

/* Brendan Basic */
/* 
html {
    display: table;
    margin: auto;
}

.navbar-container {
    padding-left: 5%;
    padding-right: 3%;
    height: 5vh;
}

.sidebar {
    margin-top: 50vh;
}

img {
    align-content: center;
    margin: auto;
}

.img-fluid {
    align-self: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 12vh;
    width: 90vw;
}

h1 {
    text-align: center;
}

a:link {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #1e496d;
    background-color: transparent;
    text-decoration: none;
} */